-static_pages ||= @static_pages
.bottom_menu.super_elevated
  %ul.categories_menu
    -Category.all.each do |category|
      %li=link_to category, category
  .cl
  %ul.static_pages_menu
    -static_pages.each do |static_page|
      %li
        =link_to static_page, static_page_path(static_page), :id => "static_page_#{static_page.id}"
