-content_for :js do
  =javascript_include_tag "jquery.fullbg"
  =javascript_include_tag "preload_image"
  =javascript_include_tag "main_page"
  =javascript_include_tag "static_pages"
  :javascript
    var photos_collection = #{@json_collection};
-content_for :title do
  ianstudio

.top_bar ianstudio
=image_tag "loading.gif", :class => "fullBg title loading"
=render "main/main_page_menu"
.curtain
.backup_curtain
.static_page.obscure
