=javascript_include_tag "jquery.fullbg"
=javascript_include_tag "static_pages"
=javascript_include_tag "menu_elevator"
-content_for :title do
  =@static_page.name
:javascript
  $(document).ready(function() {
    startLoading();
    $(".fullBg:first").load(function() {
      $(this).fullBg();
      stopLoading();
    });
  });

=link_to image_tag(@photo.picture(:original), :class => "fullBg current"), @photo
.static_page.solid
  =render "static_pages/content"

=render "main/static_pages_menu"
