=javascript_include_tag "jcrop"
=javascript_include_tag "crop_image"
=stylesheet_link_tag "jcrop"
%h2 Cropping image
%p Drag and drop and then click Crop. Mind that real picture is 4 times bigger.
=image_tag @photo.picture(:original), :class => :croppable
-form_for [:admin, @photo] do |f|
  -%w(x y w h x2 y2).each do |attr|
    =f.hidden_field "crop_#{attr}", :id => "crop_#{attr}"
  =f.hidden_field :crop_needed, :id => "crop_needed"
  %p This is uncropped version of an image. Existing cropped version will not change if you submit this page not moving cropping edges. Unless you check this:
  %p
    =f.check_box :reset_cropping
    =f.label :reset_cropping, "I want full image again"
  %p in which case cropping will be forced to occur and you will get your image back like nothing ever happened
  %h3 Choose the way this picture should be aligned when browser window is resized
  %div{:class => "alignment_preview #{@photo.alignment}"}
    =image_tag @photo.picture(:small)
    .border
  -["top", "center", "bottom"].each do |alignment_type|
    %p
      =f.radio_button :vertical_alignment, alignment_type, :class => :vertical_alignment, :checked => alignment_type.eql?(@photo.alignment)
      =f.label :vertical_alignment, alignment_type.humanize, :value => alignment_type
  .cl
  %p=f.submit "Crop"
  %p Cropping requires a few seconds and may be finished after you are redirected back to category page. If you don't see thumbnail changed, refresh category page.
