body {
  background-color: #fff;
  font-family: "Lucida Grande", Helvetica, Arial;
  font-size: 14px; }

body.with_photos {
  background-color: #000;
}

a {
  color: #0000FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

h4 {
  margin: 2px;
  padding: 0;
}

.hidden {
  display: none;
}

.bordered {
  border: 1px solid #ccc;
  padding: 10px;
}

.m-10 {margin: 10px}

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }


ul.photos {
  padding: 10px;
}

ul.inline-blocks {
  list-style-type: none;
  margin: 0;
}

ul.inline-blocks li {
  display: inline-block;
  margin: 5px;
}

img.fullBg {
  position: fixed;
  overflow: hidden;
}

.next_link, .prev_link, .loading_box {
  position: absolute;
  margin: 0;
  padding: 10px;
  background: rgba(0,0,0,0.7);
  z-index: 10;
}

.loading_box {
  left: 50%;
  width: 150px;
  margin-left: -75px;
  top: 0;
  text-transform: capitalize;
  font-size: 24px;
  color: #fff;
  text-align: center;
  display: none;
}

.next_link a, .prev_link a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.prev_link {
  left: 0;
  top: 40%;
  height: 30px;
  margin-top: -25px;
}

.next_link {
  right: 0;
  top: 40%;
  height: 30px;
  margin-top: -25px;
}

img {
  background: #000;
}

img.current {
  z-index: 6;
}

img.next {
  z-index: 4;
}

img.previous {
  z-index: 2;
}

div.curtain {
  display: none;
  z-index: 5;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.backup_curtain {
  z-index: 3;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#next_thumbnail {
  display: none;
  z-index: 100;
  position: absolute;
  top: 60px;
  right: 10px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}

#prev_thumbnail {
  display: none;
  z-index: 100;
  position: absolute;
  top: 60px;
  left: 10px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}
