html.touch {
  -webkit-text-size-adjust: none;
}

.touch .watermark {
  font-size: 72px;
}

.touch body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.touch .top_bar,
.touch .watermark {
  position: absolute;
  width: auto;
  height: auto;
  font-size: 16px;
  line-height: 16px;
  min-height: 16px;
  padding: 5px;
  margin: 0 10px;
  color: #fff;
  background: rgba(0,0,0,0.5)
}

.touch .next_link, .touch .prev_link {
  background: transparent;
  height: 2000px;
  width: 20%;
  padding: 0;
  position: fixed;
}


.touch .next_link a, .touch .prev_link a {
  display: block;
  width: 100%;
  height: 100%;
}

.touch .prev_link {
  left: 0;
  top: 0;
}

.touch .next_link {
  right: 0;
  top: 0;
}

.touch .bottom_menu {
  display: none;
}

.touch .static_page {
  width: 80%;
  font-size: 42px;
}

.touch .static_page p {
  font-size: 36px;
  background: #fff;
  color: #000;
  border: none;
}

.touch .curtain,
.touch .backup_curtain {
  height: 2000px;
}

.touch .forced img.title,
.touch .forced img.current {
  width: 100% !important;
  height: auto !important;
  position: relative !important;
  top: auto !important;
}

.touch .forced .bottom_menu {
  display: block;
  position: relative !important;
}

.touch .forced .bottom_menu ul li {
  font-size: 28px !important;
  line-height: 20px !important;
  clear: both;
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #333;
}

.touch .forced .bottom_menu ul li a {
  display: block;
  padding: 10px;
}

.touch .touch_enforcer {
  position: fixed;
  left: 20%;
  width: 60%;
  height: 2000px;
  background: transparent;
  z-index: 101;
}

.touch .forced .touch_enforcer, .touch .forced .next_link, .touch .forced .prev_link {
  display: none;
}
