body {
  background-color: #fff;
  font-family: "Lucida Grande", Helvetica, Arial;
  font-size: 14px; }

body.with_photos {
  background-color: #000;
}

.watermark, .watermark:visited {
  font-family: Tahoma, Arial;
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  color: rgba(100,100,100,0.5);
  filter: alpha(opacity=50);
  position: absolute;
  top:0;
  left:0;
  padding:0;
  margin:0.5%;
  z-index: 30;
}

.watermark:hover {
  color: #fff;
  filter: alpha(opacity=100);
}

a {
  color: #0000FF; }
  a img {
    border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 75%;
  margin: 0 auto;
  background: #fff;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px; }

h4 {
  margin: 2px;
  padding: 0;
}

.hidden {
  display: none;
}

.bordered {
  border: 1px solid #ccc;
  padding: 10px;
}

.m-10 {margin: 10px}

#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #errorExplanation ul {
    margin: 2px 24px; }
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }


ul.photos {
  padding: 10px;
}

ul.inline-blocks {
  list-style-type: none;
  margin: 0;
}

ul.inline-blocks li {
  display: inline-block;
  margin: 5px;
}

img.fullBg {
  position: fixed;
  overflow: hidden;
}

.next_link, .prev_link, .loading_box {
  position: absolute;
  margin: 0;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.7);
  z-index: 10;
}

.next_link a, .prev_link a {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.prev_link {
  left: 0;
  top: 40%;
  height: 30px;
  margin-top: -25px;
}

.next_link {
  right: 0;
  top: 40%;
  height: 30px;
  margin-top: -25px;
}

img {
  background: #000;
}

img.current, img.title {
  z-index: 6;
}

img.next {
  z-index: 4;
}

img.previous {
  z-index: 2;
}

img.loading {
  z-index: 10;
  width: 48px;
  height: 48px;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  margin-right: -24px;
}

div.curtain {
  display: none;
  z-index: 7;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

div.backup_curtain {
  z-index: 3;
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

#next_thumbnail {
  display: none;
  z-index: 100;
  position: absolute;
  top: 60px;
  right: 30px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}

#prev_thumbnail {
  display: none;
  z-index: 100;
  position: absolute;
  top: 60px;
  left: 30px;
  -webkit-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px 10px rgba(0,0,0,0.2);
}

.static_page {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 100%;
  z-index: 60;
  overflow: auto;
  background: #fff;
  -webkit-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.2);
}

.body.textile {
  background: #fff;
}

a.close_static_page {
  position: absolute;
  right: 20px;
  top: 20px;
  background: transparent;
}

a.close_static_page img {
  background: transparent;
}

.static_page h1 a {
  text-decoration: none;
}

.static_page .subcontainer {
  padding: 0 20px;
}

.static_page.obscure {
  left: -800px;
}

.bottom_menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background: #000;
  z-index: 50;
  padding: 0;
  opacity: 0.7;
  min-height: 48px;
  max-height: 100px;
  font-size: 100%;
  margin-bottom: -3%;
}

.bottom_menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 100%;
}

.bottom_menu ul li {
  float: left;
  margin: 5px 10px;
  color: #fff;
  padding: 0;
  font-size: 20%;
  line-height: 100%;
  font-family: "Century Gothic", Arial;
}

.bottom_menu ul.categories_menu li {
  font-size: 40%;
}

.bottom_menu ul li a {
  color: #fff;
  text-decoration: none;
}

.bottom_menu .static_pages_menu {
  visibility: hidden;
}

.bottom_menu.elevated .static_pages_menu,
.bottom_menu.super_elevated .static_pages_menu {
  visibility: visible;
}

.bottom_menu.elevated {
  opacity: 1;
  margin-bottom: 0;
}

.bottom_menu.super_elevated {
  height: 10%;
  opacity: 1;
  margin-bottom: 0;
}

.top_bar {
  height: 5%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #000;
  z-index: 20;
  margin: 0;
  color: #fff;
  font-family: Tahoma, Arial;
  font-size: 80%;
  line-height: 100%;
  padding: 0.5%;
  min-height: 28px;
  max-height: 100px;
}

.top_bar .title {
}

.cl {clear:both}
.invisible {visibility: hidden}

.description_trigger, .description_container {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 10;
  color: #fff;
  background: #333;
}

.description_trigger {
  padding: 5px 0;
  width: 50px;
  margin-left: -25px;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
  background: #000;
  opacity: 0.7;
}

.description_container {
  width: 40%;
  margin-left: -20%;
  height: 400px;
  overflow: auto;
  line-height: 20px;
}


.description_container .subcontainer {
  margin: 20px 30px;
}

.description_container.obscure {
  top: -400px;
}


.description_trigger.pushed_down {
  top: 400px;
  background: #333;
  opacity: 1;
}

.alignment_preview {
  float: left;
  position: relative;
  margin-right: 20px;
}

.alignment_preview .border {
  width: 100%;
  height: 60%;
  border: 2px solid #ff0000;
  position: absolute;
  left: -2px;
}

.alignment_preview.top .border {
  top: 0;
}
.alignment_preview.center .border {
  top: 50%;
  margin-top: -20%;
}
.alignment_preview.bottom .border {
  bottom: 0;
}
