html.touch {
  -webkit-text-size-adjust: none;
}

.touch .watermark {
  font-size: 72px;
}

.touch body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.touch .top_bar {
  position: absolute;
  width: auto;
  height: auto;
  font-size: 16px;
  line-height: 16px;
  min-height: 16px;
  padding: 5px;
  margin: 0 10px;
  background: rgba(0,0,0,0.5)
}

.touch .next_link, .touch .prev_link {
  background: transparent;
  height: 100%;
  width: 30%;
  padding: 0;
}


.touch .next_link a, .touch .prev_link a {
  display: block;
  width: 100%;
  height: 100%;
}

.touch .prev_link {
  left: 0;
  top: 0;
}

.touch .next_link {
  right: 0;
  top: 0;
}

.touch .bottom_menu {
  display: none;
}

.touch .bottom_menu.super_elevated {
  padding: 0;
}

.touch .bottom_menu.super_elevated ul li {
  font-size: 42px;
  line-height: 42px;
  margin: 20px 20px;
}

.touch .bottom_menu.super_elevated ul.categories_menu li {
  font-size: 56px;
}

.touch .static_page {
  width: 80%;
  font-size: 42px;
}

.touch .static_page p {
  font-size: 36px;
  background: #fff;
  color: #000;
  border: none;
}

.touch .curtain,
.touch .backup_curtain {
  height: 2000px;
}
