:javascript
  $(document).ready(function() {
    $("ul.photos").sortable({
      stop: function(ev, ui) {
        $("#sorting_form").ajaxSubmit();
      }
    });
  });

%h2
  Managing photos in
  %em=@category
%p
  =link_to "&larr; Back to categories index", admin_categories_path
  |
  %strong=link_to "Upload new photo", new_admin_photo_path(:category_id => @category.id)
  |
  =link_to "Edit category", edit_admin_category_path(@category)
  |
  =link_to "Move or destroy all photos", bulk_edit_admin_photos_path(:category_id => @category.id)
  |
  =link_to "Delete this category", admin_category_path(@category), :method => :delete, :confirm => "Are you sure?"

%br/

-form_for [:admin, @category], :url => admin_category_path(:format => :js), :html => {:method => :put, :id => "sorting_form"} do |f|
  %ul.photos.inline-blocks
    -@category.photos.each do |photo|
      %li.bordered
        =hidden_field_tag "category[photo_ids][]", photo.id
        %h4=truncate photo.name
        %br/
        =image_tag photo.picture(:small)
        %br/
        =link_to "show", photo_path(photo)
        |
        =link_to "edit", edit_admin_photo_path(photo)
        |
        =link_to "delete", admin_photo_path(photo), :method => :delete, :confirm => "Are you sure?"
