:javascript
  $(document).ready(function() {
    $("ul.photos").sortable({
      stop: function(ev, ui) {
        $("#sorting_form").ajaxSubmit();
      }
    });
    $("input.promote_to_front_page").click(function() {
      $.post($(this).attr("data-submit-to"), {
        "photo[promote_to_front_page]": ($(this).is(":checked") ? 1 : 0),
        "authenticity_token": "#{form_authenticity_token}",
        "_method": "put"
      });
    });
  });

%h2
  Managing photos in
  %em=@category
%p
  =link_to "&larr; Back to categories index".html_safe, admin_categories_path
  |
  %strong=link_to "Upload new photo", new_admin_photo_path(:category_id => @category.id)
  |
  =link_to "Edit category", edit_admin_category_path(@category)
  |
  =link_to "Move or destroy all photos", bulk_edit_admin_photos_path(:category_id => @category.id)
  |
  =link_to "Delete this category", admin_category_path(@category), :method => :delete, :confirm => "Are you sure?"

%br/

-if @category.photos.blank?
  %h3 This category is empty
-else
  %h3 Photos will appear in this exact order. Drag them to rearrange. Photos on front page appear in random order.

-form_for [:admin, @category], :url => admin_category_path(:format => :js), :html => {:method => :put, :id => "sorting_form"} do |f|
  %ul.photos.inline-blocks
    -@category.photos.each do |photo|
      %li.bordered
        =hidden_field_tag "category[photo_ids][]", photo.id
        %h4=truncate photo.name
        %br/
        =image_tag photo.picture(:small)
        %br/
        %br/
        =link_to "show", photo_path(photo)
        |
        =link_to "crop", admin_photo_path(photo)
        |
        =link_to "edit", edit_admin_photo_path(photo)
        |
        =link_to "delete", admin_photo_path(photo), :method => :delete, :confirm => "Are you sure?"
        %br/
        =check_box_tag :promote_to_front_page, 1, photo.promote_to_front_page, :id => "promote_to_front_page_#{photo.id}", :class => "promote_to_front_page", :"data-submit-to" => admin_photo_path(photo, :format => :js)
        =label_tag :promote_to_front_page, "front page", :for => "promote_to_front_page_#{photo.id}"
