=javascript_include_tag "jquery.fullbg"
:javascript
  $(document).ready(function() {
    $("#current").load(function() {
      $(this).fullBg();
      $(this).next("img").fullBg({animated: false});
    });

    $("#current").click(function() {
      $(this).fadeOut(function() {
        $(this).next("img").fullBg();
      });
      return false;
    });
  });

=image_tag @photo.picture(:original), :id => "current", :class => "fullBg", :style => "z-index: #{Photo.count}"
-(Photo.all - [@photo]).each_with_index do |photo, index|
  =image_tag photo.picture(:original), :class => "fullBg", :style => "z-index: #{Photo.count-(index+1)}"
