-content_for :js do
  =javascript_include_tag "jquery.fullbg"
  =javascript_include_tag "preload_image"
  =javascript_include_tag "photo_page"
  =javascript_include_tag "static_pages"
  =javascript_include_tag "menu_elevator"
  :javascript
    var photos_collection = #{@json_collection};

=image_tag "loading.gif", :class => "fullBg current loading"

=link_to "ian image", root_path, :class => :watermark
.next_link
  =link_to "&rarr;".html_safe, "#", :id => "next_link", :class => "paginate"
  =image_tag("", :id => "next_thumbnail", :class => "thumbnail")
.prev_link
  =link_to "&larr;".html_safe, "#", :id => "prev_link", :class => "paginate"
  =image_tag("", :id => "prev_thumbnail", :class => "thumbnail")
.curtain
.backup_curtain
.static_page.obscure
  -@static_pages.each do |static_page|
    =render "static_pages/content", :static_page => static_page
.description_trigger.hidden info
.description_container.obscure
  .subcontainer
.touch_enforcer

=render "main/static_pages_menu"
