=javascript_include_tag "jquery.fullbg"
=javascript_include_tag "photo_page"
=javascript_include_tag "static_pages"
-content_for :title do
  =@photo.name

=image_tag @photo.picture(:original), :class => "fullBg current"
=image_tag @next_photo.picture(:original), :class => "fullBg next"
=image_tag @previous_photo.picture(:original), :class => "fullBg previous"

.next_link
  =link_to "&rarr;", photo_path(@next_photo, :format => :json), :id => "next_link", :class => "paginate"
  =image_tag(@next_photo.picture(:small), :id => "next_thumbnail", :class => "thumbnail")
.prev_link
  =link_to "&larr;", photo_path(@previous_photo, :format => :json), :id => "prev_link", :class => "paginate"
  =image_tag(@previous_photo.picture(:small), :id => "prev_thumbnail", :class => "thumbnail")
.curtain
.backup_curtain
.static_page.obscure

=render "main/static_pages_menu"
