=javascript_include_tag "jquery.fullbg"
=javascript_include_tag "photo_page"

=image_tag @photo.picture(:original), :class => "fullBg current"
=image_tag @next_photo.picture(:original), :class => "fullBg next"
=image_tag @previous_photo.picture(:original), :class => "fullBg previous"

.next_link
  =link_to "&rarr;", photo_path(@next_photo, :format => :json), :id => "next_link", :class => "paginate"
.prev_link
  =link_to "&larr;", photo_path(@previous_photo, :format => :json), :id => "prev_link", :class => "paginate"

