=javascript_include_tag "jquery.fullbg"
=javascript_include_tag "preload_image"
=javascript_include_tag "photo_page"
=javascript_include_tag "static_pages"
=javascript_include_tag "menu_elevator"
-content_for :title do
  =@photo.name
:javascript
  var photos_collection = #{@json_collection};

=image_tag "loading.gif", :class => "fullBg current loading"

=link_to "ianstudio", root_path, :class => :watermark
.next_link
  =link_to "&rarr;", "#", :id => "next_link", :class => "paginate"
  =image_tag("", :id => "next_thumbnail", :class => "thumbnail")
.prev_link
  =link_to "&larr;", "#", :id => "prev_link", :class => "paginate"
  =image_tag("", :id => "prev_thumbnail", :class => "thumbnail")
.curtain
.backup_curtain
.static_page.obscure
.touch_enlarger

=render "main/static_pages_menu"
