=javascript_include_tag "jquery.fullbg"
=javascript_include_tag "photo_page"
=javascript_include_tag "static_pages"
=javascript_include_tag "menu_elevator"
-content_for :title do
  =@photo.name
:javascript
  var photos_collection = #{@json_collection};

=image_tag @photo.picture(:original), :class => "fullBg current invisible"
=image_tag @next_photo.picture(:original), :class => "fullBg next invisible"
=image_tag @previous_photo.picture(:original), :class => "fullBg previous invisible"

=link_to "ianstudio", root_path, :class => :watermark
.next_link
  =link_to "&rarr;", photo_path(@next_photo, :format => :json), :id => "next_link", :class => "paginate"
  =image_tag(@next_photo.picture(:small), :id => "next_thumbnail", :class => "thumbnail")
.prev_link
  =link_to "&larr;", photo_path(@previous_photo, :format => :json), :id => "prev_link", :class => "paginate"
  =image_tag(@previous_photo.picture(:small), :id => "prev_thumbnail", :class => "thumbnail")
.curtain
.backup_curtain
.static_page.obscure
.touch_enlarger

=render "main/static_pages_menu"
