!!!
%html.no-js
  %title=yield :title
  %head
    =stylesheet_link_tag "application"
    =stylesheet_link_tag "application_touch", :media => "only screen"
    =javascript_include_tag "modernizr"
    =javascript_include_tag "jquery"
    =javascript_include_tag "jquery_ui"
    =javascript_include_tag "jquery_form"
    =javascript_include_tag "loading_box"
    =javascript_include_tag "baked"
  %body
    =flash
    #loading.loading_box Л0ADNHг
    =yield
