!!!
%html.no-js
  %title=yield :title
  %head
    =tag(:link, :rel=>"shortcut icon", :href=>"favicon.ico", :type=>"image/x-icon")
    :plain
      <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
      <meta name="apple-mobile-web-app-capable" content="yes" />
      <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    =stylesheet_link_tag "application"
    =stylesheet_link_tag "application_touch", :media => "only screen"
    = javascript_include_tag :defaults
    = csrf_meta_tag
    =javascript_include_tag "modernizr"
    =javascript_include_tag "jquery_ui"
    =javascript_include_tag "jquery_form"
    =javascript_include_tag "loading_box"
    =javascript_include_tag "baked"
    =javascript_include_tag "touch_fullscreen"
    =javascript_include_tag "adjust_font"
    =yield :js
    =yield :css
  %body
    =flash
    =yield
