!!!
%html
  %head
    =stylesheet_link_tag "application"
    =javascript_include_tag "jquery"
    =javascript_include_tag "jquery_ui"
    =javascript_include_tag "jquery_form"
    =javascript_include_tag "loading_box"
  %body
    =flash
    #loading.loading_box Л0ADNHг
    =yield
