!!!
%html
  %head
    =stylesheet_link_tag "application"
    =javascript_include_tag "jquery"
    =javascript_include_tag "jquery_ui"
    =javascript_include_tag "jquery_form"
  %body
    =flash
    =yield
